:root {
    --background-color: black;
    --primary-color: bisque;
    --secondary-color: dodgerblue;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    background-color: var(--background-color);
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
}

.player-container {
    border: 2px solid var(--background-color);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.games {
    height: 100%;
    background-color: var(--primary-color);
    width: 10px;
}

.right {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.left {
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--primary-color);
    width: 200px;
    height: 100%;
}

.seprator {
    background-color: var(--primary-color);
    width: 2.5px;
    height: 100%;
}

.before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.after {
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
}

.before-invert {
    clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);
}

.after-invert {
    clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 100% 100%);
}

.player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--primary-color);
    flex-grow: 1;
    height: 100%;
    padding: 0 10px;
}

.player-x {
    border-left: 2px solid var(--background-color);
    border-radius: 20px 0 0 0;
}

.player-o {
    border-right: 2px solid var(--background-color);
    border-radius: 0 20px 0 0;
}

.key-container {
    border-collapse: collapse;
    width: 100%;
    aspect-ratio: 1/1;
}

td {
    border: 2px solid var(--background-color);
    cursor: pointer;
    width: 33.33%;
    height: 33.33%;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--background-color);
    font-size: 150%;
}

.button-container {
    display: flex;
    width: 100%;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    height: 60px;
}

.buttun {
    height: 100%;
    font-size: 2rem;
    color: var(--background-color);
    width: 100%;
    background-color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
}

.hide {
    display: none;
}

.result {
    color: var(--secondary-color);
}

.point {
    background-color: var(--secondary-color);
}


.score {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transform-origin: center center;
    transition: all 1s linear;
    animation: rotate 8s linear;
    background: repeating-conic-gradient(var(--secondary-color) 0deg calc(360/10*1deg), var(--background-color) calc(360/10*1deg) calc(360/10*2*1deg));
}

@keyframes rotate {
    0% {transform: rotate(0deg) scale(5);}
    100% {transform: rotate(360deg) scale(5);}
}

.score-active {
    display: flex;
}

.score-text {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 7rem;
    font-family: 'Modak', cursive;
    color: aliceblue;
    transform-origin: center center;
    transform: rotate(-10deg);
    animation: move 1s infinite ease-in-out;
}

.score-text::before {
    -webkit-text-stroke: 0.21em black;
}

@keyframes move {
    0% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    100% {transform: rotate(-10deg);}
}

.score-text-active {
    display: flex;
}


@media screen and (max-width: 700px) {
    
    .player-container {
        height: 7%;
    }

    td {
        font-size: 4rem;
    }

    .player-name {
        font-size: 0.6rem;
        font-weight: bold;
    }

    .player {
        width: 80px;
        font-size: 0.5rem;
        font-weight: bold;
    }

    .button-container {
        height: 40px;
    }

    .buttun {
        height: 100%;
        font-size: 1rem;
    }

    .score-text {
        font-size: 30px;
    }
}